<!DOCTYPE html>
<html lang="en">
{%extends 'base/base.html'%}
{%block content%}
<h1>Los resultados son los siguientes:</h1>
    <table border="1">
  <tr>
      <td style = "text-align: center;"><h2>Imagen Original</h2></td>
  
  <td style = "text-align: center;"><h2>Imagen Procesada</h2></td>
  </tr>
        <tr>
            <td width="300" style = "text-align: center;"><img  src="{{url_for('static', filename=image_original) }}"></td>
            <td width="600" height="350" style = "text-align: center;"> <img  src="{{url_for('static', filename=image_name) }}"></td>
            
        </tr>
        
    </table>
    
{%endblock%}